*.class
*.cache.html
*.cache.png
*.cache.gif

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

war/WEB-INF/lib/
!war/WEB-INF/lib/GWTXPath.jar
!war/WEB-INF/lib/commons-codec-1.7.jar
!war/WEB-INF/lib/commons-fileupload-1.2.jar
!war/WEB-INF/lib/commons-io-2.4.jar
!war/WEB-INF/lib/commons-compress-1.5.jar
!war/WEB-INF/lib/gwt-codeserver-2.6.0.jar

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/Html5Player/
war/WEB-INF/deploy/
war/WEB-INF/classes/

/.gwt

#local settings (some only allow absolute paths) #)
.settings/com.google.gdt.eclipse.core.prefs

/org.catrobat.html5player.html5player.JUnit
/test-classes
