*.class
*.cache.html
*.cache.png
*.cache.gif

# Package Files #
*.jar
!libs/*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

war/WEB-INF/lib/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/Html5Player/
war/WEB-INF/deploy/
war/WEB-INF/classes/

/.gwt

#local settings (some only allow absolute paths) #)
.settings/com.google.gdt.eclipse.core.prefs
