<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>ServerConnectionServiceImpl</servlet-name>
    <servlet-class>org.catrobat.html5player.server.ServerConnectionServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>fileUploaderServlet</servlet-name>
    <servlet-class>org.catrobat.html5player.server.FileUpload</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>fileUploaderServlet</servlet-name>
  <url-pattern>/Html5Player/fileupload</url-pattern>
</servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServerConnectionServiceImpl</servlet-name>
    <url-pattern>/Html5Player/getData</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Html5Player.html</welcome-file>
  </welcome-file-list>

</web-app>
